asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
dj-database-url==0.3.0
dj-pagination==2.3.0
Django==1.10.1
django-appconf==1.0.2
django-compressor==2.1.1
django-libsass==0.7
django-modelcluster==3.1
django-redis==3.8.2
django-taggit==0.22.1
django-treebeard==4.1.2
djangorestframework==3.6.3
elasticsearch==1.2.0
html5lib==0.999999
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
libsass==0.8.2
lxml==3.8.0
Markdown==2.6.9
olefile==0.44
parsel==1.2.0
Pillow==4.2.1
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
PyMySQL==0.7.11
pyOpenSSL==17.2.0
pytz==2017.2
queuelib==1.4.2
rcssmin==1.0.6
redis==2.10.5
requests==2.18.3
rjsmin==1.0.12
Scrapy==1.4.0
service-identity==17.0.0
six==1.10.0
Twisted==22.1.0
Unidecode==0.4.21
urllib3==1.22
uWSGI==2.0.15
w3lib==1.18.0
wagtail==1.11.1
webencodings==0.5.1
whitenoise==3.3.0
Willow==0.4
zope.interface==4.4.2
